// Icon List Block

.mciconblock .block-inner {
    padding: 1rem;
}

.mciconblock__list {

    .mciconblock__item {
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        margin-bottom: 0.5rem;

        svg {
            height: calculate-rem(48px);
            width: calculate-rem(48px);
        }

        .mciconblock__description {
            padding-left: 2rem;
            width: 100%;

            .mciconblock__title {
                margin: 0;
            }

            p {
                margin: 0;
                padding-bottom: 0;
            }
        }

        &.has-description {
            align-items: flex-start;

            .mciconblock__title {
                font-size: 1.2rem;
            }
        }
    }
}

// Borders 'TEMP' - this should be moved to a less block specific location and other colours to be generated.

.border-yellow {
    border: 1px solid #ffcd00;
    border-radius: 0.4rem;
}